@media(min-width: 480px) and (max-width: 780px){
    .hide{
        display: none;
    }

    .navigation-side-bar{
        width: 100%;
        height: 100vh;
        gap: 50px;
        font-size: 3rem;
    }

    .navigation-side-bar i{
        font-size: 5rem;
    }

    .navigation-side-bar h3{
        font-size: 5rem;
    }

    .main-header{
        width: 1200px;
        height: 20vh;
        margin-bottom: 20px;
    }

    .header-navigation i, .header-navigation h3{
        font-size: 5rem;
    }

    .search-bar{
        margin-right: 50px;
    }

    .search-bar a{
        font-size: 5rem;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 150px;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 50px;
    }

    .title{
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title h3{
        font-size: 5rem;
    }

    .buttons{
        grid-column: 2;
        gap: 30px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons button{
        padding: 20px;
        margin-left: 50px;
    }

    .buttons i{
        font-size: 3rem;
    }

    .section-content-anime{
        grid-area: 2/1/20/5;
        margin-bottom: 50px;
    }

    .section-anime-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .section-list{
        grid-column: span 2;
        grid-row: span 15;
        width: fit-content;
    }

    .section-list ul{
        gap: 50px;
    }

    .section-list a, .section-list h3{
        font-size: 5rem;
        margin-left: 100px;
    }
}
