@media(max-width: 480px){
    .hide{
        display: none;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 150px;
        overflow: hidden;
        height: fit-content;
    }

    .title{
        grid-column: 1;
    }

    .buttons{
        grid-column: 2;
        gap: 30px;
        margin-right: 20px;
    }

    .section-content-anime{
        grid-area: 2/1/15/5;
    }

    .section-anime-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .section-list{
        height: 1000px;
        width: fit-content;
    }

    .section-list a, .section-list h3{
        font-size: 2rem;
    }
}
