@media(max-width: 780px){
    .hide{
        display: none;
    }
    .main-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 10vh);
        grid-auto-rows: 150px;
        overflow: hidden;
        height: fit-content;
    }

    .title{
        grid-column: 1;
    }

    .buttons{
        grid-column: 2;
    }

    .section-content-anime{
        grid-area: 2/1/15/5;
    }

    .section-anime-content.section-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
